@use '../../styles/variables' as *;

.wrapper {
  display: flex;
  flex-direction: column;
  gap: $space-3;
}

.title {
  font-size: $font-size-sm;
  font-weight: $font-weight-semibold;
  color: var(--color-text);
}
